dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/

# Ignore the db/ directory being used as a docker volume to hold the postgres
# DB.
/docker/db

# Ignore tags files created by vim and emacs
TAGS
